body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

:root {
  --Dark-Gray: #3f3d56;
  --light-Gray: #828282;
  --Neon-Pink: #ee24ff;
}

#container {
  width: 626px;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;

  img {
    padding-bottom: 31px;
  }
}

p {
  color: var(--light-Gray);
  margin: 0 10px;
  line-height: 22px;
}

#titulo {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 16px;

  color: var(--Dark-Gray);
  span {
    color: var(--Neon-Pink);
    font-weight: bold;
  }
}

#content {
  .negrito {
    color: var(--Dark-Gray);
  }
}

#footer {
  .line {
    border: 1px solid #eceff2;
    width: 391px;
    margin: auto;
  }

  .links {
    padding-top: 16px;
    padding-bottom: 36px;
  }

  a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--Dark-Gray);
  }

  a + a {
    margin-left: 42px;
  }

  #img-footer {
    width: 100%;
  }
}
